@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lexend+Deca&display=swap');

$mainColor : black;
$margin : 0px;

* {
   font-family: 'Lexend Deca';
   margin: $margin;
   padding: 0;
   color: $mainColor;
}

@media screen and (max-width: 960px) {
  .container {
    margin: $margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}