@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lexend+Deca&display=swap');

$mainColor : black;
$margin : 0px;
$colorBlue : #4accf3;

* {
   font-family: 'Lexend Deca';
   margin: $margin;
   padding: 0;
   color: $mainColor;
}

@media screen and (max-width: 960px) {
  .container {
    margin: $margin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px ;
  margin: 20px;
  text-align: center;
}

.detail {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.button{
  background: $colorBlue;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  padding: 3px;
  margin-top: 0 auto;
  margin-bottom: 50px;
  width: 100px;
  cursor: pointer;
}

.image{
  width: 150px;
  height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.card {
  width: 350px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 5px $colorBlue;
  border-radius: 15px;
}
