@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lexend+Deca&display=swap');

$mainColor : black;
$margin : 0px;
$colorBlue : #4accf3;
$alignCenter : center;
$marginAuto : auto;

* {
   font-family: 'Lexend Deca';
   margin: $margin;
   padding: 0;
   color: $mainColor;
}

.content {
  align-content: $alignCenter;
  text-align: $alignCenter;
}

.card {
  display: inline-grid; 
  grid-template-columns: auto auto auto auto auto auto; 
  align-items: $alignCenter;
  justify-content: $alignCenter;
  align-content: $alignCenter;
  text-align: $alignCenter;
  margin: 10px;
  width: 225px;
  height: 275px;
  box-shadow: 2px 5px 5px $colorBlue;
}

.detail-user {
  display: flex; 
  flex-wrap: wrap;
  flex-direction: column;
  align-items: $alignCenter;
  justify-content: $alignCenter;
  align-content: $alignCenter;
  text-align: $alignCenter;
  max-width: 800px;
}

.detail-id {
  align-items: $alignCenter;
  justify-content: $alignCenter;
  align-content: $alignCenter;
  text-align: $alignCenter;
}

.content-id{
  align-items: $alignCenter;
  justify-content: $alignCenter;
  align-content: $alignCenter;
  text-align: $alignCenter;
}

.button{
  background: $colorBlue;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  padding: 3px;
  margin-top: 0 $alignCenter;
  margin-bottom: 10px;
  width: 100px;
  cursor: pointer;
}
